langchain
python-dotenv
langchain-community
pypdf
pymupdf
langchain-text-splitters
chromadb
langchain-groq
validators==0.28.1
youtube_transcript_api
unstructured
pytube
huggingface_hub
yt_dlp
