langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
chromadb
langchain_huggingface
langchain_chroma
langchain-groq
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
yt_dlp